{{!-- TO DO: Finish Add New Recipe Page Front End View --}}

{{!-- Example Add New Recipe Form --}}
<form class="add-recipe-form">
  <input type="text" id="recipe-title" placeholder="Title">
  <textarea id="recipe-description" placeholder="Description"></textarea>
  <textarea id="recipe-ingredients" placeholder="Ingredients"></textarea>
  <textarea id="recipe-instructions" placeholder="Instructions"></textarea>
  <input type="text" id="recipe-image-url" placeholder="Image URL">
  <input type="text" id="recipe-allergens" placeholder="Allergens">
  <button type="submit">Add Recipe</button>
</form>